@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/yekan-bakh/Yekan Bakh FA 02 Thin.eot") format("eot"),
          url("../fonts/yekan-bakh/Yekan Bakh FA 02 Thin.woff") format("woff");
    font-display: block;
    font-weight: 200
}
@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/yekan-bakh/Yekan Bakh FA 04 Regular.eot") format("eot"),
      url("../fonts/yekan-bakh/Yekan Bakh FA 04 Regular.woff") format("woff");
      font-display: block;
  font-weight: 300
}
@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/yekan-bakh/Yekan Bakh FA 05 Medium.eot") format("eot"),
      url("../fonts/yekan-bakh/Yekan Bakh FA 05 Medium.woff") format("woff");
      font-display: block;
  font-weight: 500
}
@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/yekan-bakh/Yekan Bakh FA 06 Bold.eot") format("eot"),
      url("../fonts/yekan-bakh/Yekan Bakh FA 06 Bold.woff") format("woff");
      font-display: block;
  font-weight: 600
}

@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/yekan-bakh/Yekan Bakh FA 07 Heavy.eot") format("eot"),
      url("../fonts/yekan-bakh/Yekan Bakh FA 07 Heavy.woff") format("woff");
      font-display: block;
  font-weight: 800
}

@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/yekan-bakh/Yekan Bakh FA 08 Fat.eot") format("eot"),
      url("../fonts/yekan-bakh/Yekan Bakh FA 08 Fat.woff") format("woff");
      font-display: block;
  font-weight: 900
}