<template>
    <div class="login">
        <div class="logo-wrapper">
            <img src="~assets/images/logo.svg" alt="logo" class="logo"/>
            <div class="usefull-plan d-flex">
                <div class="usefull-plan__part1 d-flex flex-column align-items-center">
                    <span>برنامه های کاربردی</span>
                    <span>خرداد ۱۳۹۸</span>
                </div>
                <div class="usefull-plan__part2 d-flex justify-content-center align-items-center">
                    ۵۰٪
                </div>
            </div>
        </div>
        <form class="d-flex flex-column">
            <h1>ورود به پنل ادمین</h1>
            <div class="d-flex flex-column mb-4">
                <label>ایمیل خود را وارد کنید</label>
                <input class="form-input" type="text"/>
            </div>
            <div class="d-flex flex-column">
                <label>شماره همراه خود را به همراه ۰ وارد کنید</label>
                <input class="form-input" type="text"/>
            </div>
            <button class="btn login-btn">ورود</button>
            <label class="checkbox-container">من را به خاطر بسپار
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </form>
        <div class="d-flex flex-column align-items-center">
            <span class="red-line"></span>
            <a class="smileline-website">
                <img src="~assets/images/icons/web.svg" alt="web icon">
                وبسایت ما
            </a>
            <div class="d-flex social-media">
                <a>
                    <img src="~assets/images/icons/aparat.svg">
                </a>
                <a>
                    <img src="~assets/images/icons/telegram.svg">
                </a>
                <a>
                    <img src="~assets/images/icons/youtube.svg">
                </a>
                <a>
                    <img src="~assets/images/icons/linkedin.svg">
                </a>
                <a>
                    <img src="~assets/images/icons/twitter.svg">
                </a>
            </div>
        </div>
        <p class="copy-right">تمامی حقوق این وبسایت متعلق به طرح جهادی آموزش بهداشت دهان و دندان روی خط لبخند می‌باشد.</p>
    </div>
</template>
<style scoped lang="scss">
.login {
    background: #F5F5FB;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 23% 52% 10% 16%;
    padding: 0px 88px;
    justify-items: center;
}
.logo-wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .logo {
//     margin-top: 98px;
//     margin-bottom: 90px
// }
form {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    width: 460px;
    padding: 17px 30px;
    padding-bottom: 40px
}
form h1 {
    color: $purple;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #756F86;
    margin-bottom: 3px
}
.form-input {
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    min-height: 52px
}
.login-btn {
    background: $purple;
    width: 100%;
    color: white;
    padding: 12px 0px;
    text-align: center;
    margin-top: 26px;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 24px;
  font-size: 16px;
  color: $purple
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2px;
  right: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 1px solid $purple;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $purple;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.red-line {
    border: 2px solid #F06B64;
    width: 160px;
    margin-top: 50px
}
.social-media a {
    background: #693A82;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px
}
.smileline-website {
    width: 100%;
    background: $purple;
    border-radius: 7px;
    text-align: center;
    color: white !important;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 7px 0px;
    font-weight: 500
}
.coty-right {
    color: $purple;
    font-weight: 500;
    font-size: 23px;
}
.usefull-plan {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    width: 284px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 60px;
    right: 88px;
    padding: 22px 0px
}
.usefull-plan__part1 {
    border-left: 1px solid #E2DEFA; 
    width: 170px
}
.usefull-plan__part1 span:first-child {
    font-size: 17px;
    line-height: 29px;
    color: #130E41;
    font-weight: 500;
}
.usefull-plan__part1 span:last-child {
    font-weight: 300;
    font-size: 17px;
    line-height: 29px;
    color: #8F85CC;
}
.usefull-plan__part2 {
    font-size: 17px;
    margin: 0 auto;
}
.copy-right {
    font-weight: 500;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #693A82;
    align-self: end;
}
</style>